body {
  font-family: 'Share Tech Mono', monospace;
}

.video {
  opacity: 1;
  transition: height 0.5s, width 0.5s, visibility 0s, opacity 0.5s linear;
}

.title, #loading {
  text-align: center;
}

video {
  width: 100%;
}

a {
  color: white;
}

a:hover {
  color: lime;
}